<nav id="nav-bar" class="navbar" style="background-color:#202024; box-shadow: 0px 0px 10px #202024;">
    <div class="container">
        <a class="btn btn-primary" href="/">Home</a>
        <a class="btn btn-primary" href="/Cadastro">Agendamento</a>
        <a class="btn btn-primary" href="/List">Lista de Pacientes</a>
    </div>
</nav>