<nav id="nav-bar" class="navbar navbar-light bg-light">
    <div class="container">  
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/Cadastro">Agendamento</a>
        <a class="nav-link" href="/List">Lista de Pacientes</a>
    </div>
</nav>